.navbar{
    background: white;
    margin-bottom: auto;
}
.navbar-logo{
    height: auto;
    width: 5rem;
    margin: 0;
    padding: 4px;
    transition: transform 0.3s, width 0.3s, height 0.3s;
}
.navbar-logo:hover{
    transform: scale(1.1) rotate(-3deg);
}
.navbar-logo:active{
    transform: scale(0.95);
}
.navbar-links{
    font-size: 1.5rem;
    margin-right: 10px;
}

.contact-us-button{
    margin-right: 10px;
}
.contactButton {
    background: #5902a5;
    color: white;
    font-family: inherit;
    padding: 0.5em;
    padding-left: 1.2em;
    font-size: 18px;
    font-weight: 600;
    border-radius: 1em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    height: 3em;
    padding-right: 3.5em;
    outline: none;
  }
  
  .iconButton {
    margin-left: 1.2em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.4em;
    width: 2.4em;
    border-radius: 1.2em;
    right: 0.4em;
    transition: all 0.3s;
  }

  .toggler-image {
    transform: rotate(01deg);
    transition: transform 0.5s ease-in-out;
    height: auto;
    width: 40px;
    outline: none;
    border: none;
    
    }
    .toggler-image:active {
      transform: rotate(720deg);
      outline: none;
      border: none;
    }
    .contact-button-link{
        text-decoration: none;
    }

